{% extends "ecommerce/base.html" %}

{% block content %}     
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link  href="resources/css/mainstyle.css" rel="stylesheet"> 
   <link href="resources/css/style.min.ow.css" rel="stylesheet">
    <link  href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link  href="resources/css/font-awens.css" rel="stylesheet">
    <link href="resources/css/custom_style.css" rel="stylesheet"> 
   <link  href="resources/css/owl.carousel.min.css" rel="stylesheet">
   <link  href="resources/css/" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="resources/js/bootstrap.min.js"></script>
    <script src="resources/js/jquery.js"></script>
     <script src="resources/js/jquery.flexslider-min.js"></script>
    <script src="resoources/js/scrollreveal.min.js"></script>
    <script src="resources/js/owl.carousel.min.js"></script>
    <script src="resources/js/main_one.js"></script>
    <script src="resources/js/scripts.min.js"></script>
    <script src="resources/js/custom.min.js"></script>
    
    <!-- FONT AWESOME -->
    <script src="resources/js/scripts.js"></script>

     <!-- main css -->
    
    
    <!-- Custom styles for this template -->
    <link href="/joina-online/resources/css/carousel.css" rel="stylesheet">
  </head>


 <script>
            $('.main-carousel').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                dots: false,
                autoplayHoverPause: false,
                autoplay: 5000,
                smartSpeed: 700,
                navText: ['<span class="fa fa-angle-left"></span>', '<span class="fa fa-angle-right"></span>'],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    760: {
                        items: 1,
                        nav: false
                    },
                    1024: {
                        items: 1
                    },
                    1100: {
                        items: 1
                    }
                }
            });
        </script>



<section class="section-main bg padding-y">
    <div class="container col-lg-9">

        <div class="row">
            <aside class="col-md-3">
                <nav class="card">
                    <ul class="menu-category">
                        {% for sub_category in sub_categories %}
                        <li><a href="#"> {{ sub_category.name }}</a>

                            <ul class="submenu">
                                <li><a href="#">Submenu name</a></li>
                                <li><a href="#">Great submenu</a></li>
                                <li><a href="#">Another menu</a></li>
                                <li><a href="#">Some others</a></li>
                            </ul>

                        </li>
                       {% endfor %}
                    </ul>
                </nav>
            </aside> <!-- col.// -->

            <div class="col-md-9">
                <div class="banner-wrap">
                    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

                    <div class="container-fluid noPadding">
                                <!--Slider-->
                                <div class=" owl-carousel owl-theme main-carousel animated fadeInUp wow">
                                    <!--Slide-->
                                    <div class="slide-item">
                                        <img src="{{category.category_image.url}}" alt="1349x516">
                                    </div>
                                    <!-- /slide-item -->
                                
                                </div>
                                <!-- /slider -->
                 </div>

                </div>
                <img src="{{category.category_image.url}}" class="w-100 rounded">
                <br>
                <br>
                <section class="padding-bottom">
                <div class="card card-deal">
                    <div class="row no-gutters items-wrap">
                        <div class="col-md col-6" style="height:180px">
                            <figure class="card-product-grid card-sm">
                                <a href="#" class="img-wrap"> 
                                    <img src="resources/images/delivery-truck (3).png" style="padding-top:20px; height:80px"> 
                                    <div class="text-wrap p-3">
                                    <p class="muted-text">Free Shipping Arranged</p>
                                </div>
                                </a>
                            
                            </figure>
                        </div> <!-- col.// -->
                        <div class="col-md col-6" style="height:180px">
                            <figure class="card-product-grid card-sm">
                                <a href="#" class="img-wrap"> 
                                    <img src="resources/images/-monetization-on_90721.png" class="img-sm" style="padding-top:20px; height:80px"> 
                                    <div class="text-wrap p-3">
                                    <p class="muted-text">Better Value for Money</p>
                                </div>
                                </a>
                                
                            </figure>
                        </div> <!-- col.// -->
                        <div class="col-md col-6" style="height:180px">
                            <figure class="card-product-grid card-sm">
                                <a href="#" class="img-wrap"> 
                                    <img src="resources/images/chat-png.png" class="img-sm" style="padding-top:20px; height:80px"> 
                                    
                                    <div class="text-wrap p-3">
                                    <p class="muted-text">Guaranteed 24 hour Support</p>
                                </div>
                                </a>
                                <div class="text-wrap p-3">
                                    
                                </div>
                            </figure>
                        </div> <!-- col.// -->
                        <div class="col-md col-6" style="height:180px">
                            <figure class="card-product-grid card-sm">
                                <a href="#" class="img-wrap"> 
                                    <img src="resources/images/briefcase-png-transparent.png" style="padding-top:20px; height:80px"> 
                                     <div class="text-wrap p-3">
                                    <p class="muted-text">Real Market Solutions</p>
                                </div>
                                </a>
                                
                            </figure>
                        </div> <!-- col.// -->
                        <div class="col-md col-6" style="height:180px">
                            <figure class="card-product-grid card-sm">
                                <a href="#" class="img-wrap"> 
                                    <img src="resources/images/shopping-cart.png" style="padding-top:20px; height:80px">
                                     <div class="text-wrap p-3">
                                    <p class="muted-text">Convenient Shopping</p>
                                </div>
                                </a>
                                
                            </figure>
                        </div> <!-- col.// -->
                    </div>
                </div>

            </section>
            </div>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
</div> <!-- container //  -->
</section>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-padding container col-lg-10">

    <div class="row">
        <aside class="col-md-4">

            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                            <h6 class="title">Product type</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_1" style="">
                        <div class="card-body">
                            <form class="pb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>

                            <ul class="list-menu">
                                <li><a href="#">Video Decoders</a></li>
                                <li><a href="#">Camera Accessories</a></li>
                                <li><a href="#">Cinema Equipment </a></li>
                                <li><a href="#">Studio Equipment</a></li>
                                <li><a href="#">Indoor Sets </a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#">People </a></li>
                            </ul>

                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- filter-group  .// -->

                <article class="filter-group" style="padding:10px">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                            <i class="icon-control fa fa-chevron-down"></i>
                            <h6 class="title">Price range </h6>
                        </a>
                    </header>
                    <div class="filter-content collapse show" id="collapse_3" style="">
                        <div class="card-body">
                            <input type="range" class="custom-range" min="0" max="100" name="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary">Apply</button>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->

                <!-- filter-group .// -->
            </div> <!-- card.// -->

        </aside> <!-- col.// -->

        <main class="col-md-8">
            <div class="row">
                <hr>
                <div class="col-md-4 col-sm-4">
                    
                    <h6 style="margin-left:25px; font-weight:600">{{ category.name }}</h6>
                    {% for image in latest_product.images.all %}
                    {% if forloop.first %}
                    <a href="{% url 'ecommerce:single_product' latest_product.id %}">
                    <img src="{{image.image.url}}" class="img-wrap-a" style="margin-left:30px" width="220px" height="200px">
                    </a>
                    {% endif %}
                    {% endfor %}
                
                </div>
                <p class="col-md-7 passage-category" style="margin-right:10px"> {{ latest_product.content }}</p>
                
            </div>
            <br>
            <br>
            <header class="border-bottom mb-4 pb-3">
                <div class="form-inline">
                        
                    <div class="btn-group">
                        <a href="#" class="btn btn-outline-secondary" data-toggle="tooltip" title="List view"> 
                            <i class="fa fa-bars"></i></a>
                        <a href="#" class="btn  btn-outline-secondary active" data-toggle="tooltip" title="Grid view"> 
                            <i class="fa fa-th"></i></a>
                    </div>
                </div>
                
            </header><!-- sect-heading -->
            <br>
            <div class="row">
                {% if category_products %}
                {% for product in category_products %}
                <div class="col-md-4">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            {% for image in product.images.all %}
                            {% if forloop.first %}
                            <a href="{% url 'ecommerce:single_product' product.id %}">
                                <img src="{{ image.image.url }}">
                            </a>
                                {% endif %}
                            {% endfor %}
                            <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <div class="fix-height">
                                <a href="#" class="title">{{ product.name }}</a>
                                <div class="price-wrap mt-2">
                                    <span class="price"> $ {{ product.price }}</span>
                                </div> <!-- price-wrap.// -->
                            </div>
                            <a href="#" class="btn btn-block btn-primary">Add to cart </a>	
                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
                {% endfor %}
                {% else %}
                <h5> No Products Found <h5>
                {% endif %}
            </div> <!-- row end.// -->


            <nav class="mt-4" aria-label="Page navigation sample">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>

        </main> <!-- col.// -->

    </div>
</section> 

</body>
</html>





{% endblock %}