{% extends "ecommerce/base.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="">
        <div class="">
            <h2 style="text-align:center" >Coming Soon</h2>
            <br />


            <p><img src={% static '/ecommerce/img/comingsoon.jpg' %} class="img-responsive" height="50%" width="100%"></p>
            

            <p style="text-align:justify; margin-left:4cm; margin-right:4cm">
                “Joina City, the heart of the City.” Situated in Harare, Joina City offers an enjoyable shopping experience. Joina City’s modern architecture provides shoppers and visitors an authentic “Hararian experience” unlike anywhere else in this vibrant welcoming
                city. As Harare’s second tallest building, Joina City boasts unparalleled and spectacular views of the city which never sleeps. This makes it the preferred choice for progressive companies seeking refreshing and inspiring office space
                For the discerning and classy shopper, the mall has a plethora of services and a host of exclusive stores from top boutiques, the latest technology a state of the art gym, restaurants, kid’s stores, a reputable supermarket, reliable and
                efficient dry cleaner, banking services and much, much more… Open 7 days a week, Joina City has excellent security with 600 bays of secure and convenient undergroundparking and 24hr CCTV and manned security to ensure you enjoy hassle free
                shopping.

                <strong>TRADING HOURS: 0700 – 2200hrs Daily</strong>
            </p>
</div>
</div>
</div>

            {% endblock %}