{% extends "ecommerce/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h2>Contact Us</h2>
				<br />
				<table class="table">
					<tr>	
						<th><i class="fa fa-home fa-1x"></i> Address:</th>               
						<td>Corner Jason Moyo Ave &, Julius Nyerere Way, Harare</td>
					</tr>
					<tr>
						<th><i class="fa fa-envelope fa-1x"></i> E-Mail Address:</th>
						<td><a href="mailto:carl.fontanos@gmail.com">carl.cicosy@gmail.com</a></td>
					</tr>
					<tr>
						<th><i class="fa fa-user fa-1x"></i> Author:</th>
						<td>CICOSY</td>
					</tr>
					<!-- <tr>
						<th><i class="fa fa-link fa-1x"></i> Website:</th>
						<td><a href="http://www.carlofontanos.com">www.carlofontanos.com</a></td>
					</tr> -->
				</table>
				<br >
				
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39409.67527149718!2d31.05891822009111!3d-17.809242212138916!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1931a4e50c894921%3A0xe01ec669a775682e!2sJoina%20City!5e0!3m2!1sen!2szw!4v1636971960632!5m2!1sen!2szw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>			</div>
		</div>
	</div>
       

{% endblock %}