{% extends "ecommerce/base.html" %}
{% load humanize %}
{% block content %}
<style>
#inner {
  width: 50%;
  margin: 0 auto;
  background-color:lightgrey;
}
h2{
width: 25%;
  margin: 0 auto;
}
</style>


		<
<div class="container">
		<h2>Upload Members Photo</h2>
		<br/>


<style>
th {
  background-color: #04AA6D;
  color: white;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th, td {
  border-bottom: 1px solid #ddd;}
  th, td {
  padding: 10px;
  text-align: left;
}
a.btn-primary {
        float: right;

</style>

 <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>



<div class="col-sm-6" style="align:center;">
<a href="{% url 'ecommerce:index' %}" class="btn   btn-primary" align="right" style="text-align:center;">Close this Window</a>

<br>
<br>

</div>
</div>
{% endblock %}